<div>
	<h1>Rainforest</h1>
	<%= link_to "Add a New Product", new_product_path %><br />
	<%= link_to "Sign Up for an Account", new_user_path %>
</div>

<% @products.each do |product| %>
	<div>
		<%= link_to image_tag(product.image_url), "/products/#{product.id}" %><br />
	</div>
	<div>
		<%= product.formatted_price %><br />
	</div>
	<div>
		<%= product.name %><br />
		<%= product.description %><br />
	</div>

<% end %>