<div>
	<%= link_to "Back to Products", products_path %><br />
	<%= link_to "Edit Product", edit_product_path(@product) %><br />
	<%= link_to "Delete Product", product_path(@product), :method => :delete %>
</div>

<div>
	<p><%= @product[:name] %></p>
	<p><%= @product[:description] %></p>
</div>

<div>
	<%= image_tag @product.image_url %>
</div>

<div>
	<%= @product.price_in_cents %>
</div>
